@page "/groups"
@attribute [Authorize(Roles = "admin, staff")]

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h3>Grupet</h3>
        <a href="group" class="btn btn-primary mb-3">Shto Grup </a>
    </div>

    @if (groups == null)
    {
        <p><em>Duke ngarkuar...</em></p>
    }
    else
    {
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="table-light">
                    <tr>
                        <th scope="col">ID Grupi</th>
                        <th scope="col">Emri</th>
                        <th scope="col" class="text-end pe-3">Veprimet</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var row in groups)
                    {
                        <tr>
                            <td>@row.Id</td>
                            <td>@row.Name</td>
                            <td class="text-end pe-3"><a href="@("Group/" + row.Id)" class="btn btn-warning">Edito</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>
