@page "/Departments"
<h3>Departments</h3>

<a href="@("Department")" class="btn btn-success"> Add new</a>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var row in departments)
        {
            <tr>
                <td>@row.Id</td>
                <td>@row.Name</td>
                <td><a href="@("Department/" + row.Id)" class="btn btn-warning">Edit</a></td>
            </tr>
        }
    </tbody>

</table>