@page "/studentGrades"

<AuthorizeView Roles="admin, staff">
    <Authorized>
        <PageTitle>Notat e Studentit</PageTitle>
        <div class="container p-4 bg-light rounded border shadow-lg mb-4">
            <h3>Notat e Studentit</h3>
            <p class="text-muted">Vetëm kurset që janë kaluar do të shfaqen</p>
        </div>

        <div class="container mt-4">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <button class="btn btn-secondary" >Kthehu</button>
                        <div>
                            <h4>Kërko Nota</h4>
                        </div>
                    </div>
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <div class="form-group mb-3">
                                <label for="studentId" class="form-label">ID e Studentit</label>
                                <InputText id="studentId" class="form-control" @bind-Value="StudentId" />
                                <br />
                                <button type="button" class="btn btn-primary" @onclick="GetStudentGrades">Kërko</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </Authorized>
</AuthorizeView>

<AuthorizeView Roles="student">
    <Authorized>
        <PageTitle>Notat e Mia</PageTitle>
        <div class="container p-4 bg-light rounded border shadow-lg mb-4">
            <h3>Notat e Mia</h3>
            <p class="text-muted">Vetëm kurset që janë kaluar do të shfaqen</p>
        </div>
    </Authorized>
</AuthorizeView>

<br />
<AlertCard @ref="alertCard" />

@if (studentExamGradesDtos.Count > 0)
{
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped table-hover">
                    <thead class="table-light">
                        <tr>
                            <th>Kursi</th>
                            <th>Semestri</th>
                            <th>Numri i Krediteve</th>
                            <th>Nota</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var row in studentExamGradesDtos)
                        {
                            <tr>
                                <td>@row.SubjectName</td>
                                <td>@row.Semester</td>
                                <td>@row.CreditsNumber</td>
                                <td class="fw-bold">@row.Grade</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
else if (!string.IsNullOrEmpty(Message))
{
    alertCard.ShowAlert(Message, "alert-warning");
}
