@if (IsVisible)
{
    <br/>
    <div class="alert @AlertType alert-dismissible fade show" role="alert">
        @Message
        <button type="button" class="btn-close" aria-label="Close" @onclick="HideAlert"></button>
    </div>
    <br />
}

@code {
    [Parameter]
    public string Message { get; set; } = string.Empty;

    [Parameter]
    public string AlertType { get; set; } = "alert-success";

    private bool IsVisible { get; set; }

    public void ShowAlert(string message, string alertType)
    {
        Message = message;
        AlertType = alertType;
        IsVisible = true;
        StateHasChanged();
    }

    private void HideAlert()
    {
        IsVisible = false;
        StateHasChanged();
    }
}
